@use '@src/sass/abstracts/constants' as *;
@use '@src/sass/abstracts/mixins' as *;
@use '@src/sass/base/typography' as *;

.button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto 0;
  border-radius: 20px;
  border: none;
  border: 1px solid $text-dark-color;
  @include font ($style: normal, $weight: 400, $size: 1.8rem, $height: 2.16rem);
  color: $text-dark-color;
  cursor: pointer;

  &:hover {
    @include font ($style: normal, $weight: 600, $size: 1.8rem, $height: 2.16rem);
    background-color: $btn-hover-color;
  }
}

.button-added{
  background-color: $btn-added-color;
}

.button_copied {
  background-color: $btn-added-color;
  border: 1px solid $input-checked;
}