// colors
$backgr-red:rgb(140, 11, 18);
$background-dark: rgba(21, 32, 38, 1);
$text-color: #ffffff;
$text-dark-color: #152026;

// device-width
$laptop-width: 992px;
$tablet-width: 768px;
$mobile-width: 375px;