// colors
$backgr-red:#8c0b12;
$text-color: #ffffff;
$text-dark-color: #152026;
$filter-price-out: #ccc;
$filter-price-in: #d02128;
$filter-price-shadow: rgba(0, 0, 0, 0.4);
$btn-hover-color: #ff8a8a;
$btn-added-color: #4e3b3b;
$border-color-light: #ffffff;
$input-checked: #ffff40;

// device-width
$laptop-width: 992px;
$tablet-width: 768px;
$mobile-width: 375px;