@use '@src/sass/abstracts/constants' as *;
@use '@src/sass/base/typography' as *;

@mixin font-family {
  font-family: "Roboto",
    "Verdana",
    sans-serif;
}

;

@mixin font ($style, $weight, $size, $height) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

;

@mixin media-laptop {
  @media (max-width: $laptop-width) {
    @content
  }
}

;

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content
  }
}

;

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content
  }
}

;