@use '@src/sass/abstracts/constants' as *;
@use '@src/sass/abstracts/mixins' as *;
@use '@src/sass/base/typography' as *;

// filter-stock

.filter-stock {
  width: 300px;
  position: relative;
  height: 5px;
  margin: 45px 0 10px 0;
}

.filter-stock__title {
  margin-bottom: 15px;
  margin-top: 30px;
  @include font ($style: normal, $weight: 400, $size: 1.8rem, $height: 2.16rem);
  color: $text-color;
}

.filter-stock__visible-parts-container {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 5px;
}

.filter-stock__inverse-left {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 10px;
  background-color: $filter-price-out;
  margin: 0 7px;
}

.filter-stock__inverse-right {
  position: absolute;
  right: 0;
  height: 5px;
  border-radius: 10px;
  background-color: $filter-price-out;
  margin: 0 7px;
}


.filter-stock__range {
  position: absolute;
  left: 0;
  height: 5px;
  border-radius: 14px;
  background-color: $input-checked;
}

.filter-stock__thumb-left,
.filter-stock__thumb-right {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 20px;
  width: 20px;
  margin-left: -11px;
  text-align: left;
  box-shadow: 0 3px 8px $filter-price-shadow;
  background-color: $text-color;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.input-stock-left,
.input-stock-right {
  position: absolute;
  top: -2px;
  width: 100%;
  height: 14px;
  pointer-events: none;
  appearance: none;
  -webkit-appearance: none;
  z-index: 3;
  opacity: 0;
}

.input-stock-left:focus::-webkit-slider-runnable-track,
.input-stock-right:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

.input-stock-left:focus,
.input-stock-right:focus {
  outline: none;
}

.input-stock-left::-webkit-slider-thumb,
.input-stock-right::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: $filter-price-in;
  -webkit-appearance: none;
}

.input-stock-left::-ms-fill-lower,
.input-stock-right::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

.input-stock-left::-ms-fill-upper,
.input-stock-right::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

.input-stock-left::-ms-tooltip,
.input-stock-right::-ms-tooltip {
  display: none;
}

.filter-stock__sign-left,
.filter-stock__sign-right {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index: 3;
  background-color: $text-dark-color;
  color: $text-color;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

.filter-stock__sign-left:after,
.filter-stock__sign-right:after {
  position: absolute;
  content: '';
  left: 0;
  top: 19px;
  border-radius: 16px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: $text-dark-color;
}

.filter-stock__left-thumb-screen,
.filter-stock__right-thumb-screen {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

.filter-stock:hover {
  .filter-stock__sign-left,
  .filter-stock__sign-right {
    opacity: 1;
  }
}