@use '@src/sass/abstracts/constants' as *;
@use '@src/sass/abstracts/mixins' as *;
@use '@src/sass/base/typography' as *;


.product__wrapper{
  min-height: 85vh;
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: center;
}


.product-container {
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
}

